@font-face {
  font-family: "EarlyFontDiary";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: lightblue;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 30px;
  text-align: center;
  margin: 15px;
}
.memo {
  padding: 30px;
  background-color: white;
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
  height: 600px;
  font-family: "EarlyFontDiary";
  overflow: scroll;
  text-align: center;
}

.inputBox {
  border: 3px solid rgb(117, 172, 206);
  padding: 10px;
  border-radius: 5px;
  width: 70%;
  text-align: center;
}

.inputBox:focus {
  outline: 2px solid rgb(169, 218, 248);
}
.wordList {
  text-align: center;
}
.word {
  border: 1px solid gainsboro;
  border-radius: 5px;
  padding: 10px;
  margin: 15px;
}
.btn {
  margin: 30px 0;
  background-color: rgb(60, 142, 219);
  color: white;
  font-weight: 600;
  font-size: 18px;
  width: 80px;
  padding: 5px;
  border-radius: 10px;
  float: right;
}
