body {
  background-color: #262626;
  width: 100%;
  height: 100vh;
  text-align: center;
}
.cover {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 300px;
}

.wrapper li {
  padding: 20px;
}

.title {
  position: relative;
  top: 200px;
  color: white;
}
.title.main {
  font-size: 25px;
  letter-spacing: 5px;
}
.title.main ::after {
  content: "";
  display: block;
  width: auto;
  height: 0.5rem;
  border-radius: 3px;
  background-color: #235497;
}
.box {
  position: relative;
  padding: 15px;
  background-color: #111111;
  width: 250px;
  height: 100px;
  border-radius: 10px;
}

.box img {
  margin-top: -35px;
  width: 50px;
  height: 50px;
}

.box strong {
  float: right;
  position: relative;
  color: #1c90ff;
  font-weight: 900;
  font-size: 40px;
}

.box strong ::after {
  content: "Photoshop 1.0";
  color: white;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.subbox {
  margin: 0 20px;
  padding: 0 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #000000;
}

.content {
  float: left;
  margin-top: 10px;
  color: #636363;
}

/* 파랑 #1C90FF */
